POSTGRESS_URL=postgresql://user:password@localhost:5432/dbname?sslmode=require
RZP_KEY=rzp_test_xxxxxxxxx
RZP_SECRET=xxxxxxxxx
RZP_WEBHOOK_SECRET=xxxxxxxxx
REDIS_URL=redis://localhost:6379/0
GEMINI_API_KEY=

# SendGrid Email Configuration
SENDGRID_API_KEY=
FROM_EMAIL=recovery@yourdomain.com

# Twilio SMS & WhatsApp Configuration
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=
TWILIO_WHATSAPP_NUMBER=whatsapp:+14155238886

MOCK_DISPATCH=True
